# Python
__pycache__/
*.pyc

# Base de datos
*.db

# Node
node_modules/
dist/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

.vite/

# Env files
.env
*.env
!.env.example

Frontend/.npm-cache/
Frontend/node_modules/
Frontend/dist/
Backend/__pycache__/

